

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}
th{
  width:min-content;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.pointer{
  cursor: pointer;
  margin: 0 5px;
}
.pointer:hover{

}
